/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Microsoft JhengHei';
}

.wrap {
  max-width: 1049px;
  margin: 0 auto;
  background: #efe9e7;
}

.header {
  background: url(../images/header_desktop.png);
  height: 420px;
}

@media (max-width: 480px) {
  .header {
    background: url(../images/header_mobile.png);
  }
}

.top-menu {
  background: rgba(0, 0, 0, 0.75);
  padding: 16px 42px;
}

.top-menu h1 {
  float: left;
}

.top-menu h1 a {
  background: url(../images/logo_w@svg.svg) no-repeat;
  width: 120px;
  height: 24px;
  display: block;
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
}

.top-menu ul {
  float: right;
}

.top-menu ul li {
  float: left;
}

.top-menu li a {
  color: #FFFFFF;
  font-size: 16px;
  margin-right: 2px;
  margin-left: 28px;
}

.top-menu li a:hover {
  color: #f56c23;
}

.top-menu-mobile {
  display: none;
}

.top-menu-mobile a {
  float: right;
  color: #FFFFFF;
  font-size: 24px;
}

@media (max-width: 480px) {
  .top-menu-mobile {
    display: block;
  }
}

@media (max-width: 480px) {
  .top-menu-pc {
    display: none;
  }
}

.aside {
  display: none;
  width: 100%;
  background: rgba(0, 0, 0, 0.9);
  position: absolute;
}

.aside li {
  padding: 20px;
  text-align: center;
}

.aside li a {
  color: #FFFFFF;
  font-size: 24px;
  display: block;
}

.slogan {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  width: 460px;
  height: 152px;
  padding: 26px 0;
  background: rgba(0, 0, 0, 0.35);
  color: #FFFFFF;
  text-align: center;
  margin-top: 67px;
}

.slogan h2 {
  font-size: 36px;
  margin-bottom: 16px;
}

.slogan p {
  line-height: 1.5;
}

@media (max-width: 768px) {
  .slogan {
    -webkit-box-sizing: unset;
            box-sizing: unset;
    width: 90%;
  }
}

.footer {
  padding: 20px 40px;
}

@media (max-width: 768px) {
  .footer {
    padding: 20px 0;
  }
}

.footer-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media (max-width: 768px) {
  .footer-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.about {
  width: 30.33333%;
  margin-right: 3%;
}

.about h2 {
  color: #3D1101;
  font-size: 24px;
  margin-bottom: 16px;
}

.about p {
  color: #3D1101;
  font-size: 16px;
}

@media (max-width: 768px) {
  .about {
    width: 90%;
    margin-left: 5%;
    margin-bottom: 20px;
  }
}

.contact {
  width: 30.33333%;
  margin-right: 3%;
}

.contact h2 {
  color: #3D1101;
  font-size: 24px;
  margin-bottom: 16px;
}

.contact ul {
  padding-left: 20px;
}

.contact li {
  color: #3D1101;
  list-style-type: disc;
}

.contact li a {
  color: #3D1101;
}

@media (max-width: 768px) {
  .contact {
    width: 90%;
    margin-left: 5%;
    margin-bottom: 20px;
  }
}

.sns {
  width: 33.33333%;
  text-align: right;
  list-style-type: none;
}

.sns img {
  margin-bottom: 22px;
}

@media (max-width: 768px) {
  .sns {
    width: 90%;
  }
}

.sns-gplus {
  font-size: 36px;
  margin-left: 12px;
  color: #db4437;
  float: right;
}

.sns-twitter {
  font-size: 36px;
  margin-left: 12px;
  color: #41abe1;
  float: right;
}

.sns-facebook {
  font-size: 36px;
  margin-left: 12px;
  color: #3a5795;
  float: right;
}

.clearfix:after, .clearfix:before {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.form-register {
  width: 60%;
  margin: 50px auto;
}

@media (max-width: 480px) {
  .form-register {
    width: 90%;
  }
}

.form-register h2 {
  font-size: 48px;
  color: #3D1101;
  text-align: center;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-register p {
  font-size: 20px;
  color: #3D1101;
  text-align: center;
  font-weight: bold;
  margin-bottom: 35px;
}

.form-register-border {
  -webkit-box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.16);
          box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.16);
  border-top: 3px solid #ff5e45;
  padding: 15px;
}

.form-register-border fieldset {
  padding: 0;
  width: 50%;
}

@media (max-width: 480px) {
  .form-register-border fieldset {
    width: 95%;
  }
}

.form-register .pure-form-stacked .form-register-title {
  color: #3D1101;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1em;
}

.form-register-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 480px) {
  .form-register-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.register-rule {
  width: 50%;
}

.register-rule p {
  font-size: 18px;
  color: #3D1101;
  text-align: left;
  font-weight: normal;
  margin-bottom: 0;
  line-height: 1.2;
}

@media (max-width: 480px) {
  .register-rule {
    width: 95%;
    margin-bottom: 50px;
  }
}

.form-register .pure-form-stacked .form-register-text {
  color: #3D1101;
  font-size: 16px;
  margin-left: 15px;
}

.form-register .pure-form-stacked .form-register-input {
  margin-left: 15px;
  width: 95%;
  text-indent: 20px;
}

@media (max-width: 768px) {
  .form-register .pure-form-stacked .form-register-btnregister {
    margin: 0;
  }
}

.form-register-email {
  position: relative;
}

.form-register-pass {
  position: relative;
}

.form-register-mailicon,
.form-register-passicon {
  position: absolute;
  left: 24px;
  top: 25%;
  color: rgba(61, 17, 0, 0.5);
}

.form-register-had {
  text-decoration: none;
  color: #ff5e45;
  font-size: 14px;
  font-weight: bold;
  display: block;
  margin-left: 15px;
  margin-bottom: 30px;
}

.form-register-btnregister {
  width: 125px;
  margin-left: 15px;
  border-radius: 3px;
  background: #f56c23;
  float: right;
}
/*# sourceMappingURL=register.css.map */