@import 'reset';
@import 'grid';
@import 'function';
@import 'layout';

.clearfix {
    @include clearfix;
}

.content {
    padding-top: 50px;
    display: flex column;
}

.secret {
    h3 {
        text-align: center;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        color: $color-dark;
        font-size: $font-subtitle-m;
        padding: 0 25%;
        line-height: 1.5;

        &:before {
            content: "";
            flex: 1;
            border-top: 1px solid #979797;
        }

        &:after {
            content: "";
            flex: 1;
            border-top: 1px solid #979797;
        }

        @include mobile480() {
            padding: 0 18%;
        }
    }

}

.secret-flex {
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    padding-bottom: 50px;

    @include mobile480() {
        display: block;
    }

}

.secret-reason {
    display: flex;
    flex: 0 0 25%;
    flex-direction: column;
    max-width: 25%;

    @include mobile480() {
        flex: 0 0 90%;
        max-width: 90%;
        margin-left: 5%;
        margin-bottom: 30px;
    }

    img {
        border-radius: 50%;
        max-width: 200px;
        margin: 0 auto;
    }

    h4 {
        text-align: center;
        font-size: $font-subtitle-s;
        color: $color-dark;
        margin-top: 20px;
    }

    p {
        font-size: $font-content;
        color: $color-dark;
        margin-top: 10px;
    }
}

.chef {
    background: $color-dark;
}

.chef-flex {
    display: flex;
    flex-direction: row;

    @include mobile480() {
        display: block;
    }
}

.chef-photo {
    width: 46%;
    margin-left: 2%;
    margin-right: 2%;

    @include mobile480() {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    img {
        width: 100%;
        height: 100%;
    }

}

.chef-content {
    width: 50%;
    padding: 25px;
    align-self: center;
    color: #EFE9E7;
    line-height: 1.5;

    @include mobile480() {
        box-sizing: border-box;
        width: 100%;
        padding: 30px;
    }

    h4 {
        font-size: $font-subtitle-m;
    }

    p {
        font-size: $font-content;
        margin-bottom: 1em;
    }
}

.remark {
    padding-top: 50px;

    h3 {
        color: $color-dark;
        font-size: $font-subtitle-l;
        text-align: center;
    }
}

.remark-flex {
    padding: 30px;
    display: flex;

    img {
        border-radius: 50%;
        float: left;
        width: 67px;
        height: 67px;
    }

    h4 {
        flex: right;
    }

    P {
        float: right;
    }

    @include pad() {
        padding: 30px 10px;
    }

    @include mobile480() {
        flex-direction: column;
    }
}

.remark-set {
    display: flex;
    flex-direction: row;
    width: 33.33333%;

    @include mobile480() {
        width: 100%;
    }
}

.remark-content {
    padding: 10px;

    h4 {
        color: $color-dark;
        font-size: $font-subtitle-s;
        line-height: 3;
    }

    p {
        color: $color-dark;
        font-size: $font-content;
        line-height: 1.5;
        padding-right: 10px;
        margin-bottom: 1em;
    }

    .remark-name {
        color: rgba(61, 17, 0, 0.75);
    }
}

.reserve {
    background: rgba(250, 250, 250, 0.70);
    padding: 50px 40px;
    @include pad(){
        padding: 50px 5px;
    }

    h3 {
        color: $color-dark;
        font-size: $font-subtitle-l;
        text-align: center;
        line-height: 1.5;
        margin-bottom: 40px;
    }
}

.reserve-flex {
    display: flex;
    @include mobile480(){
        flex-direction: column;
    }
    img {
        margin-right: 20px;
        max-width: 100%;
        height: 100%;

        @include mobile480{
            margin: 0 auto;
            margin-bottom: 30px;
        }

    }

    .pure-form-booking {
        width: 100%;

        p {
            font-size: 14px;
            color: $color-dark;
            margin-bottom: 5px;
        }

        .label-marging {
            margin-bottom: 5px;
            color: $color-dark;
            font-size: 14px;
        }

        .input-marging {
            width: 100%;
            margin-bottom: 12px;
            padding: 5px 12px;
            font-size: $font-content;
            color: #4A4A4A
        }

        .Vegetarian {
            display: inline-block;
            margin-right: 36px;
            margin-bottom: 36px;

            input[type="radio"]+.el-radio-style:before {
                width: 16px;
                height: 16px;
            }

            input[type="radio"]+.el-radio-style:after {
                top: 4px;
                left: 4px;
                width: 10px;
                height: 10px;
            }

            .radio-text {
                display: inline;
                margin-right: 5px;
                color: $color-dark;
                font-size: 14px;
            }

            .radio-text:hover {
                cursor: pointer;
            }
        }

        .button-flex {
            display: flex;
            justify-content: flex-end;
            .pure-button-cancel {
                width: 70px;
                height: 32px;
                background: rgba(0, 0, 0, 0.35);
                border-radius: 3px;
                font-size: 14px;
                margin-right: 10px;
            }

            .pure-button-push {
                width: 70px;
                height: 32px;
                background: #F56C23;
                border-radius: 3px;
                font-size: 14px;
            }
        }
    }

}