@import 'reset';
@import 'grid';
@import 'function';
@import 'layout';

.clearfix {
    @include clearfix;
}

.form-login {
    width: 300px;
    margin: 50px auto;

    h2 {
        font-size: 48px;
        color: $color-dark;
        text-align: center;
        font-weight: bold;
        margin-bottom: 5px;
    }

    p {
        font-size: $font-subtitle-m;
        color: $color-dark;
        text-align: center;
        font-weight: bold;
        margin-bottom: 35px;
    }
}

.form-login-border {
    box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.16);
    border-top: 3px solid #ff5e45;
}

.form-login {
    .pure-form-stacked {
        .form-login-title {
            color: $color-dark;
            font-size: $font-subtitle-s;
            font-weight: bold;
            text-align: center;
        }
    }
}

.form-login {
    .pure-form-stacked {
        .form-login-text {
            color: $color-dark;
            font-size: $font-content;
            margin-left: 15px;
            margin-top: 15px;
        }
    }
}

.form-login {
    .pure-form-stacked {
        .form-login-input {
            margin-left: 15px;
            width: 270px;
            text-indent: 20px;
        }
        @include pad(){
            .form-login-btnlogin{
                margin: 0;
            }
        }

    }
}

.form-login-email {
    position: relative;
}

.form-login-pass {
    position: relative;
}

.form-login-mailicon,
.form-login-passicon {
    position: absolute;
    left: 24px;
    top: 25%;
    color: rgba(61, 17, 0, 0.50);
}

.form-login-forget {
    text-decoration: none;
    color: #ff5e45;
    font-size: 14px;
    font-weight: bold;
    display: block;
    margin-left: 15px;
    margin-bottom: 30px;
}

.form-login-btnsign,
.form-login-btnlogin {
    width: 125px;
    margin-left: 15px;
    border-radius: 3px;
}

a.form-login-btnsign {
    background: rgba(0, 0, 0, 0.35);
}

.form-login-btnlogin {
    background: #f56c23;
}