@import 'reset';
@import 'grid';
@import 'function';
@import 'layout';

.clearfix {
    @include clearfix;
}

.form-register {
    width: 60%;
    margin: 50px auto;
    @include mobile480(){
        width: 90%;
    }
    h2 {
        font-size: 48px;
        color: $color-dark;
        text-align: center;
        font-weight: bold;
        margin-bottom: 5px;
    }

    p {
        font-size: $font-subtitle-m;
        color: $color-dark;
        text-align: center;
        font-weight: bold;
        margin-bottom: 35px;
    }
}

.form-register-border {
    box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.16);
    border-top: 3px solid #ff5e45;
    padding: 15px;

    fieldset {
        padding: 0;
        width: 50%;
        @include mobile480(){
            width: 95%;
        }
    }
}

.form-register {
    .pure-form-stacked {
        .form-register-title {
            color: $color-dark;
            font-size: $font-subtitle-s;
            font-weight: bold;
            text-align: center;
            margin-bottom: 1em;
        }
    }
}

.form-register-flex {
    display: flex;
    @include mobile480(){
        flex-direction: column;
    }
}

.register-rule {
    width: 50%;
    p {
        font-size: $font-subtitle-s;
        color: $color-dark;
        text-align: left;
        font-weight: normal;
        margin-bottom: 0;
        line-height: 1.2;
    }
    @include mobile480(){
        width: 95%;
        margin-bottom: 50px;
    }
}

.form-register {
    .pure-form-stacked {
        .form-register-text {
            color: $color-dark;
            font-size: $font-content;
            margin-left: 15px;
        }
    }
}

.form-register {
    .pure-form-stacked {
        .form-register-input {
            margin-left: 15px;
            width: 95%;
            text-indent: 20px;
        }

        @include pad() {
            .form-register-btnregister {
                margin: 0;
            }
        }

    }
}

.form-register-email {
    position: relative;
}

.form-register-pass {
    position: relative;
}

.form-register-mailicon,
.form-register-passicon {
    position: absolute;
    left: 24px;
    top: 25%;
    color: rgba(61, 17, 0, 0.50);
}

.form-register-had {
    text-decoration: none;
    color: #ff5e45;
    font-size: 14px;
    font-weight: bold;
    display: block;
    margin-left: 15px;
    margin-bottom: 30px;
}

.form-register-btnregister {
    width: 125px;
    margin-left: 15px;
    border-radius: 3px;
    background: #f56c23;
    float: right;
}